.wel-msg {
  text-align: center;
  padding-bottom: 59px;
}

.wel-msg p {
  margin-left: 220px;
  margin-right: 220px;
}

.av-anm {
  text-align: center;
  background-color: rgb(126, 160, 149);
  padding-top: 50px;
  padding-bottom: 45px;
}

.av-anm img {
  height: 100px;
  padding-left: 30px;
  padding-right: 30px;
}

.news-sub {
  padding-top: 30px;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: space-evenly;
  align-items: center;
}

.news-edit {
  font-size: 20px;
  color: brown;
}

.news-info {
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-end;
  justify-content: space-evenly;
  align-items: center;
}

.form-edit {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fm-em {
  border-style: inset;
  border-radius: 7px;
  border-width: 1px;
  height: 40px;
  width: 370px;
}

.fm-bt {
  border-style: inset;
  border-radius: 10px;
  border-width: 1px;
  border-left-style: none;
  height: 45.4px;
  background-color: #fd7979;
  color: white;
}

.fm-bt:hover {
  background-color: #0d1326;
}

.fade-in {
  opacity: 0;
  transition: opacity 250ms ease-in;
}

.fade-in.appear {
  opacity: 1;
}
