body {
  margin: 0;
}

.uppernav {
  background-color: rgba(143, 224, 190, 0.336);
  /* text-align: center; */
  align-items: center;
  display: flex;
  /* justify-content: center; */
  margin: 0;
}

.uppernav img {
  padding-left: 100px;
  height: 70px;
  width: 70px;
}

.nav_caption {
  padding-left: 20px;
  display: inline-block;
  font-size: 40px;
}

.nav-contact {
  font-size: 18px;
  align-self: center;
  padding-left: 750px;
}

.navbg-img {
  background: linear-gradient(45deg, rgb(37, 37, 37), #b8bcc587),
    url("../img/navbar_background.jpg");
  height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  /* display: flex;
  justify-content: center; */
}

/* .container {
  position: absolute;
  margin: 20px;
  width: auto;
  display: flex;
} */

.img-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  background-color: rgba(187, 218, 245, 0.548);
  overflow: hidden;
}

.img-center:hover {
  background-color: rgba(91, 105, 117, 0.548);
}

.img-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-70%, 300%);
  background-color: #9cece6a2;
  color: rgba(59, 56, 56, 0.89);
  font-size: 16px;
  padding: 16px 30px;
  border: none;
  border-radius: 5px;
  text-align: center;
}

.img-btn:hover {
  background-color: #404949a2;
  color: black;
}

.navbar {
  overflow: hidden;
  background-color: rgba(70, 67, 67, 0.425);
  /* display: flex;
  align-items: center; */
  /* width: 100%; */
}
.navbar a {
  /* float: left; */
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin: 10px 10px;
  display: inline-block;
}

.dropdown {
  /* float: left; */
  overflow: hidden;
  display: inline-table;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 10px 10px;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: rgba(85, 83, 83, 0.521);
  border-radius: 5px;
}

.navbar a.btn_active {
  background-color: rgba(189, 199, 189, 0.712);
  border-radius: 5px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(201, 195, 195, 0.548);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.473);
  border-radius: 10px;
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: rgba(85, 83, 83, 0.521);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
